.input-wrapper {
  @include flex-center;
  width: 100%;

  .folder-input {
    border-radius: 10px;
  }

  .folder-input-button {
    margin-left: 5px;
  }
}

.folder-list {
  @include flex-center;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
  width: 100%;

  .list-item {
    width: 100%;
  }
}