.snippet-list-wrapper {
  @include flex-center;
  flex-direction: column;
  width: 100%;
  gap: 10px;

  .draggableDiv {
    position: relative;

    .snippet-title {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 20px;
      padding-right: 45px;
    }

    .snippet-item-copy-button {
      background-color: transparent;
      border: none;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: black;
      border-radius: 0;
      padding: 0;
    }

    .favorite-snippets-save-button {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      color: black;
      margin-right: 20px;
      font-size: 1rem;
      border-radius: 0;
      padding: 0;
    }
  }
}

.favorite-snippet-empty-star {
  font-size: 1.25rem;
}



